.signup_content{
    height: 100%;
}

.signup_msg_div{
    margin-top: 0.5rem;
}

.signup_msg_div > span {
    font-size: 1.5rem;
}

.signup_input_tags{
    width: 90%;
}

.signup_input_tags_div{
    margin-top: 1.3rem;
}

.signup_input_tags_div > input{
    padding: 0.6rem;
}