.aboutComp_mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutComp_Div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    width : 70%;
}

.aboutComp_Head > h2{
    color: var(--text-color2);
}

/* .aboutComp_Head > h2:hover{
    color: #21808d;
} */

.aboutComp_Head > p{
    color: var(--text-color);
}

#accordionExample{
    width: 100%;
    margin-top: 1rem;
}

.accordion-item{
    background-color: var(--background-color3);

}

.accordion-button{
    color: var(--text-color2);
    background-color: var(--background-color3);
}

/* can do it better later */
.accordion-button:not(.collapsed){
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: inset 0 -1px 0 rgba(210, 233, 231, 0.125);
}

.accordion-body{
    color: var(--text-color);
}

@media only screen and (max-width: 1000px){
    .aboutComp_Div{
        width: 80%;
    }
}

@media only screen and (max-width: 550px){
    .aboutComp_Div{
        width: 100%;
        padding: 0 0.5rem;
    }
}