* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }

  h1, h2, h3, h4,  p {
    margin: 0; 
  }

.thread_library-mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;

}

.thread_library{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    width : 70%;
}

.thread_library-headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem;
    color:  #13343b;
}

.thread_library-headers > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.thread_library-headersIcons > div{
    background-color: #ece6e8;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    color: black;
    cursor: pointer;
}

.thread_library-headersIcons > div:hover{
    color: #8a8484;
}

.thread_library-content {
    width: 100%;

}

.thread_library-item{
    width: 100%;
    border-top: 1px solid #ece6e8;
    padding: 1rem;
}

.thread_library-itemDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.thread_library-itemtTitle{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color:  #13343b;
}

.thread_library-itemtTitle:hover{
    color: #21808d;
}

.thread_library-itemDescription{
    margin-bottom: 0.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;     
    -webkit-line-clamp: 2;            
    line-clamp: 2;            
    overflow: hidden;               
    text-overflow: ellipsis; 
    color: #686263;
}

.thread_library-itemcreationTime{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #686263;
    gap: 0.25rem;
}

.thread_library-itemDetailIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
}

.thread_library-itemBookmarkIcon{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #ece6e8;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #21808d;
}


.thread_library-menuIcons{
    padding:  0.5rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #686263;
}

.thread_library-menuIcons:hover {
    background-color: #ece6e8;
    color:black;
}


/* thread library model css */

.threadLibrary_ModelContent > div{
    padding: 0.5rem;
}

.threadLibrary_ModelContent > div:hover{
    background-color: #ece6e8;
}

.tl_modalHeading{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    cursor: pointer;
}

.tl_modalHeading.active{
    color: #21808d;
}

.tl_modelHeadingDesc{
    font-size: 14px;
    color: #686263;
}

@media only screen and (max-width: 1000px){
    .thread_library{
        width : 80%;
    }
}

@media only screen and (max-width: 550px){
    .thread_library{
        width : 100%;
        padding: 0.5rem;
    }

    .thread_library-headers{
        margin: 0.5rem 0;
        padding: 0.5rem 0;
    }

    .thread_library-item{
        padding: 0.5rem 0;
    }

    .thread_library-itemDetails{
        margin: 0;
    }
}