.rootBody{
    background-color: #e0e0dc;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.base{
    position: relative;
}

.sidebar{
    width: 220px;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

.sidebar.collapsed{
    width: 90px;
}

.sidebarHead{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

.sidebarLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 50%;
    display: none;
}

.siderbarHeadline{
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #13343b;
}

.siderbarHeadline:hover{
    color: #21808d;
}

.sidebarNewThread{
    background-color: white;
    color: #686263;
    border-radius: 1rem;
    width: 80%;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    color: #21808d;
}

.sidebarNewThread:hover{
   color:#4897a1
}

.sidebarMenu{
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}

.siderbarMenuItem{
    width: 100%;
    padding: 0 0.7rem;
}

.siderbarMenuItem_div{
    display: flex;
    align-items: center;
    color: #686263;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.siderbarMenuItem_div:hover{
    color: #21808d;
}

.sidebar_endDiv{
   margin-top: auto;
   width: 100%;
   transition: all 0.3s cubic-bezier(.4,0,.2,1);
   margin-bottom: 0.5rem;
}

.sidebar_endDiv > div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #cecbcc;
}

.sidebar_endDiv2{
    margin-top: auto;
    width: 100%;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
    margin-bottom: 1rem;
}

.sidebar_endDiv2 > div{
    display: flex;
    margin: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5rem;
}

.sidebar_loginDiv {
    background-color: #21808d;
    color: white;
}

.sidebar_loginDiv:hover{
    background-color: #4897a1;
}

.siderbar_signupDiv{
    background-color:#cecbcc;
    color: black;
}

.siderbar_signupDiv:hover{
    color: #686263;
}

.siderbar_expand{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #b3adae;
}

.sidebar_user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_settings{
    cursor: pointer;
}

.sidebar_settings:hover{
    color: #21808d;
}

.mainSection{
    margin: 0.4rem;
    margin-left: 220px; 
    border-radius: 4px;
    background-color: white;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.mainSection.collapsed{
    margin-left: 90px;
    transition: margin-left 0.3s cubic-bezier(.4, 0, .2, 1);
    width: 100%;
}

.content{
    width: 100%;
}

/* .navbar{
    width: 100%;
    padding-top: 0;
} */

footer{
    margin-top: auto;
}

.bottomSidebar{
    display: none;
}

.sidebar_contactMe-Icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

@media only screen and (max-width: 650px){
    .sidebar{
        display: none;
    }

    .mainSection{
        margin: 0;
    }

    .bottomSidebar{
       display: flex;
       align-items: center;
       justify-content: space-around;
       padding: 0.5rem;
    }

    .bottomSiderbarMenuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottomSiderbarMenuItem_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 0.2rem;
        gap: 0.2rem;
        font-weight: 600;
    }
}