.setting_navbar{
    display : flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    color: var(--text-color2);
    border-bottom: 1px solid var(--border-color);
    padding: 0rem 3rem;
}

.setting_navbar-menu{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.setting_navbar-menuItem{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-weight: 600;
}

.setting_navbar-menuItem > span {
    text-decoration: none;
    color: #686263;
}

.setting_navbar-menuItem.active {
    color: var(--text-color2);
    border-bottom: 2px solid var(--text-color2);
}

.setting_navbar-menuItem.active > span{
    color: var(--text-color2);
}

.main_account_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    width : 70%;
}

.account_generalDiv{
    width: 100%;
    color: var(--text-color2);
}

.account_generalDivItems{
    width: 100%;
    background-color: var( --background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.account_generalDiv-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    gap: 1rem;
}

.account_generalDivItems .account_generalDiv-item:last-child {
    border: none; 
}

.account_generalDiv-itemHead > span{
    font-weight: 600;
    color: var(--text-color2);
    font-size: 1rem;
}

.account_generalDiv-itemHead > p{
    color: var(--text-color);
}

.account_general_colorThemeButton{
    padding: 0.2rem 0.4rem;
    color: var(--text-color2);
    font-weight: 500;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: var(--background-color3);
    border: 0px solid var(--border-color);
    transition: background-color 0.3s ease;
}

.account_general_colorThemeButton:hover{
    color: var(--text-color);
}

.account_general_colorThemeButton > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.account_general_colorThemeButton > div:hover{
    color: var(--text-color);
}

.account_general_themeOuterDiv{
    position: absolute;
    display: none;
    top: 70px;
    right: 0px;
    z-index: 5;
}

.account_general_themeOuterDiv.active{
    display: block;
}

.account_general_themeMainDiv{
    /* position: relative; */
    background-color: var(--background-color2);
    padding: 0.5rem;
    width: 170px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
}

.account_general_themeMainDivItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    color: var(--text-color2);
    font-weight: 500;
    border-radius: 0.2rem;
}

.account_general_themeMainDivItem:hover{
    background-color: var(--background-color3)
}

.goog-te-combo{
    padding: 0.5rem;
    font-size: 1rem;
}

.goog-te-gadget > span{
    display: none !important;
}

.goog-te-gadget{
    color: transparent !important;
}

.account_systemDiv{
    width: 100%;
    margin-top: 1rem;
    color: var(--text-color2);
}


/* profile page */

.profile_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    width : 70%;
}

@media only screen and (max-width: 1000px){

    .setting_navbar{
        padding: 0 2rem;
    }

    .account_div{
        width: 80%;
    }
}

@media only screen and (max-width: 550px){

    .setting_navbar{
        padding: 0 1rem;
    }

    .account_div{
        width: 100%;
    }

    .goog-te-combo{
        width: 100px;
        padding: 0.2rem;
    }
}